# Variáveis de Ambiente e Segredos
.env

# Pastas do Liferay Workspace (Ambiente Local)
/bundles/
/deploy/
.liferay/

# Gradle e Build (Ignora caches e artefatos compilados)
.gradle/
build/
bin/
out/

# IDEs (Arquivos de configuração do VS Code, Eclipse, IntelliJ)
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# Sistema Operacional (Arquivos de thumbnail e indexação)
.DS_Store
Thumbs.db

PLANO_DESAFIOSEA.md
.claude/